<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'RECOVERPASSWORD.TITLE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="login-process">
  <form class="form"
        [formGroup]="recoverForm"
        *ngIf="step == 1">
    <div class="error-message"
         *ngIf="!recoverForm.valid && submitAttempt">{{'SIGNUP.REQUIRED_FIELDS' | translate}}
    </div>
    <ion-list>
      <ion-item>
        <!--<ion-label>{{'SIGNUP.REGISTRATION_EMAIL' | translate}}</ion-label>-->
        <ion-input type="email"
                   formControlName="email"
                   placeholder="{{'SIGNUP.REGISTRATION_EMAIL' | translate}}"></ion-input>
      </ion-item>
    </ion-list>
    <div class="button__container">
      <button ion-button
              outline
              class="button--wide"
              (click)="recoverPassword()">{{'SIGNUP.RECOVER_PASSWORD' | translate}}
      </button>
    </div>
    <div class="link__container">
      <a (click)="insertKey()" class="link">{{'SIGNUP.KEY_RECEVED' | translate}}</a>
    </div>
  </form>
  <form class="form"
        [formGroup]="resetForm"
        *ngIf="step == 2">
    <div class="error-message"
         *ngIf="(resetForm.controls.resetCode.errors?.required || resetForm.controls.confirmPassword.errors?.required || resetForm.controls.password.errors?.required)  && resetAttempt">
      {{'SIGNUP.REQUIRED_FIELDS' | translate}}
    </div>
    <div class="error-message"
         *ngIf="(resetForm.controls.password.errors?.minlength)  && resetAttempt">
      {{'RECOVERPASSWORD.MIN_LENGTH' | translate}}
    </div>
    <div class="error-message"
         *ngIf="resetForm.controls.confirmPassword.errors?.MatchPassword && resetAttempt">
      {{'SIGNUP.PASSWORD_NO_MATCH' | translate}}
    </div>
    <ion-list inset>
      <ion-item>
        <!--<ion-label>{{'RECOVERPASSWORD.CODE' | translate}}</ion-label>-->
        <ion-input formControlName="resetCode"
                   placeholder="{{'RECOVERPASSWORD.CODE' | translate}}"
                   type="text"></ion-input>
      </ion-item>
      <ion-item>
        <!--<ion-label>{{'RECOVERPASSWORD.PASSWORD' | translate}}</ion-label>-->
        <ion-input formControlName="password"
                   placeholder="{{'RECOVERPASSWORD.PASSWORD' | translate}}"
                   type="password"></ion-input>
      </ion-item>
      <ion-item>
        <!--<ion-label>{{'RECOVERPASSWORD.CONFIRM_PASSWORD' | translate}}</ion-label>-->
        <ion-input formControlName="confirmPassword"
                   placeholder="{{'RECOVERPASSWORD.CONFIRM_PASSWORD' | translate}}"
                   type="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="button__container">
      <button ion-button
              outline
              class="button--wide"
              (click)="resetPassword()">{{'SIGNUP.BTN.RESET' | translate}}
      </button>
    </div>
  </form>
</ion-content>
