page-recover-password {
  .form{
    margin-top: 50px;
  }
  .button__container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .link__container{
    text-align: center;
    margin-top: 20px;
    color: color($colors, dark3);
    font-size: 1.0em;
  }
  .button__container{
    text-align: center;
  }
}
