<!--
  Generated template for the VisitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>


  <div class="container">
    <div class="title__container">
      <span class="visit-title">La tua visita a Verona</span>
    </div>
    <div *ngIf="visit != null">
      <ul>
        <li *ngIf="!!visit.startPoint" [class.current-position]="isFirst(visit.startPoint)"><span></span>
          <ion-row>
            <ion-col col-10>
              <div class="text-container" (click)="detail(visit.startPoint)">
                <div class="title">Punto di partenza</div>
                <div class="info" *ngIf="visit.startPoint.stopType =='MY_POSITION'">
                  La tua posizione
                </div>
                <div class="info">{{getName(visit.startPoint)}}</div>
                <div>{{getStreetName(visit.startPoint)}}</div>
              </div>
            </ion-col>
            <ion-col (click)="removeStartPoint()">
              <ion-icon class="icon" ios="ios-close" md="md-close"></ion-icon>
            </ion-col>
          </ion-row>
        </li>
        <li *ngFor="let stop of visit.stops" [class.current-position]="isFirst(stop)"><span></span>
          <ion-row>
            <ion-col col-10>
              <div class="text-container" (click)="detail(stop)">
                <div class="title">{{getName(stop)}}</div>
                <div class="info">{{getCategory(stop)}}</div>
                <div>{{getStreetName(stop)}}</div>
              </div>
            </ion-col>
            <ion-col (click)="removeRelement(stop)">
              <ion-icon class="icon" ios="ios-close" md="md-close"></ion-icon>
            </ion-col>
          </ion-row>
        </li>
        <li *ngIf="!!visit.endPoint" [class.current-position]="isFirst(visit.endPoint)"><span></span>
          <ion-row>
            <ion-col col-10>
              <div class="text-container" (click)="detail(visit.endPoint)">
                <div class="title">Punto di arrivo</div>
                <div class="info" *ngIf="visit.endPoint.stopType =='MY_POSITION'">
                  La tua posizione
                </div>
                <div class="info">{{getName(visit.endPoint)}}</div>
                <div>{{getStreetName(visit.endPoint)}}</div>
              </div>
            </ion-col>
            <ion-col (click)="removeEndPoint()">
              <ion-icon class="icon" ios="ios-close" md="md-close"></ion-icon>
            </ion-col>
          </ion-row>
        </li>
      </ul>
      <div class="difficulty">
        Livello di difficoltà
        <ion-row>
          <ion-col>
            <button ion-button class="rounded"
                    [ngClass]="{'selected': visit.difficulty == 'LOW' , 'not-selected': visit.difficulty != 'LOW'}"
                    (click)="setDifficulty('LOW')">bassa
            </button>
            <button ion-button class="rounded"
                    [ngClass]="{'selected': visit.difficulty == 'MEDIUM', 'not-selected': visit.difficulty != 'MEDIUM'}"
                    (click)="setDifficulty('MEDIUM')">media
            </button>
            <button ion-button class="rounded"
                    [ngClass]="{'selected': visit.difficulty == 'NO_LIMIT', 'not-selected': visit.difficulty != 'NO_LIMIT'}"
                    (click)="setDifficulty('NO_LIMIT')">senza limiti
            </button>
          </ion-col>
        </ion-row>
      </div>
      <span class="nino-label">Minuti a disposizione: {{visit.maxVisitTime}}</span>
      <ion-item no-lines>
        <ion-range min="0" max="300"
                   [disabled]="visit.inProgress"
                   [(ngModel)]="visit.maxVisitTime"
                   color="primary" [step]="30" debounce="500"
                   (ionChange)="update($event)">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>300+</ion-label>
        </ion-range>
      </ion-item>
      <span class="nino-label">Lunghezza massima in metri: {{visit.maxVisitLengthMeters}}</span>
      <ion-item no-lines>
        <ion-range min="0" max="10000" [(ngModel)]="visit.maxVisitLengthMeters" color="primary" [step]="500"
                   debounce="500" (ionChange)="update($event)">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>10000</ion-label>
        </ion-range>
      </ion-item>
    </div>
    <div class="button__container" *ngIf="visit != null">
      <button ion-button class="nino-button" color="secondary" (click)="continueVisit()" *ngIf="visit.inProgress">
        Continua la visita
      </button>
      <button ion-button class="nino-button" (click)="exploreForStart()">
        Indica il punto di partenza
      </button>
      <button ion-button class="nino-button" (click)="explore()">
        Aggiungi una tappa
      </button>
      <button ion-button class="nino-button" (click)="exploreForDestination()">
        Indica il punto di arrivo
      </button>
      <button ion-button class="nino-button" (click)="finishVisit()" color="danger" *ngIf="visit.inProgress">
        Termina la visita
      </button>
      <button ion-button class="nino-button" color="secondary" (click)="map()" *ngIf="!visit.inProgress">
        Inizia la visita
      </button>
    </div>
  </div>

</ion-content>
